/********
* ABOUT *
*********/
.about {
  /*margin-bottom: 10em;*/
}
.embededVideo {
  /*border: 1px solid #fff;*/
  margin: 1em auto 1em auto;
  width: 45em;
  height: 30em;
}
#imageLeft {
  background-image: url(../images/about/concept-01-opt.jpg);
  display: inline-block;
  margin: 1em; /*auto 1em auto;*/
  height: 276px; 
  width: 342px; 
  border: 1px solid black;
}
#imageRight {
  background-image: url(../images/about/concept-02-opt.jpg);
  display: inline-block;
  margin: 1em; /*auto 1em auto;*/
  height: 276px; 
  width: 342px; 
  border: 1px solid black;
}
.quotebox {
  border: 1px solid #8F8100; /* #AB650D; */
  -webkit-border-radius: 0 4em 0;
  -moz-border-radius: 0 4em 0;
  border-radius: 0 4em 0;
  padding: 1em;
}
.quoted {
  margin: 0 4em 0 3em;
  font-style: italic;
  color: #71B2C9; /*#71B2C9; #4298B5;*/
  text-align: justify;
}
.quotedby {
  margin-left: 65%;
  padding-top: 1em;
  font-size: .8em;
  color: #aaa;
}