@charset "utf-8";
.about {
  /*margin-top: 5rem;*/
  /*margin-bottom: 3rem;*/
}
.about > h1 small {
  rgba(171, 101, 13, 1);
}
.imagine {
  color: rgba(66, 152, 181, 1);
}
.embededVideo {
  margin: 1rem auto 1rem auto;
  width: 64rem;
  height: 36rem;
  border: 0.15rem solid rgba(255,255,255,0.7);
}
.quotebox {
  width: 56rem;
  background-color: rgba(0,0,0,0.6);
  border: 0.15rem solid rgba(66, 152, 181, 1);
  /*-webkit-border-radius: 0 4rem 0;*/
  /*-moz-border-radius: 0 4rem 0;*/
  /*border-radius: 0 4rem 0;*/
  padding: 1rem;
}
.quoted {
  margin: 0 3rem 0 3rem;
  font-size: 1.1rem;
  font-style: italic;
  color: #fff;
  text-align: justify;
}
.quotedby {
  width: 30rem;
  padding-top: 1rem;
  font-size: .9rem;
  color: #ccc;
}