.chart {
    /*background-color: #ddd;*/
    /*border: 0.1em solid rgba(0,0,0,.8);    */
}
.bars {
    margin-bottom: 0.2em;
    padding-left: 0.3em;
    background-color: #793;
    border: 0.1em solid rgba(0,0,0,.8);
    font-weight: 700;
}