@charset "utf-8";

/* Best not to overwrite the users presets if at all possible. Can adjust size by percent in MQ. */ 
/* Assumptions: 100% = 1 em ~= 16px ~= 14pt */

/***************/
/* EAA COLORS */
/***************/
/* 
  Melon: #AADD6D; 
  Lake: #71B2C9; 
  Tan: #E6D395; 
  Amber: #C6930A; 
  Teal: #00B28C; 
  Sky: #4298B5; 
*/
/***************/

html {
  font-size: 100%; 
  min-width: 1280px;
  max-width: 1280px;
  width: 1280px;
}
body {
  overflow-x: hidden;
  overflow-y: scroll; /*hidden;*/
  margin-bottom: 5rem;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  background-color: #111;
  /*background-color: #222D35;*/
  color: #fff;
}
h1 small {
  color: rgba(198, 147, 10, 1);
}
a, a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  color: #aaa;
}
a:hover {
  color: #71B2C9;
}

.no-Ibar {
  cursor: default;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*.footer {
  color: #777;
  background-color: #111;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  padding-top: 0.8rem;
}*/