@charset "utf-8";
#ck-slide0 p:first-child {
  border-color: #8F8100;
}
#ck-slide1 p:first-child {
  border-color: #777;
}
#ck-slide2 p:first-child {
  border-color: #C6930A;
}
#ck-slide3 p:first-child {
  border-color: #777;
}
#ck-slide4 p:first-child {
  border-color: #8F8100;
}
#ck-slide5 p:first-child {
  border-color: #777;
}
#ck-slide6 p:first-child {
  border-color: #AB650D;
}
#ck-slide7 p:first-child {
  border-color: #C6930A;
}
#ck-slide8 p:first-child {
  border-color: #AB650D;
}
video.bgv-ck-slide1 {
  background: url(../images/caves_karsts/SecoSinkhole.jpg) no-repeat;
}
video.bgv-ck-slide3 {
  background: url(../images/caves_karsts/DrainageArea.jpg) no-repeat;
}
video.bgv-ck-slide5 {
  background: url(../images/caves_karsts/CaveEntrance.jpg) no-repeat;
}
.address-lookup {
  line-height: 2rem;
  padding-left: 1.5rem;
  /*font-weight: 700;*/
}
.address-lookup a {
  padding-left: 1rem;
}
.address-lookup-color {
  color: #C6930A;
}
.nav-link-address-lookup:hover, .nav-link-address-lookup:visited, .nav-link-address-lookup:link, .nav-link-address-lookup:active
{
  text-decoration: none;
  color: #AADD6D;
}
.nav-link-address-lookup:hover {
  color: #71B2C9;
}
#descent {
  height: 75rem;
}