@charset "utf-8";
#ck-slide0 p:first-child {
  border-color: #8F8100;
}
#ck-slide1 p:first-child {
  border-color: #777;
}
#ck-slide2 p:first-child {
  border-color: #C6930A;
}
#ck-slide3 p:first-child {
  border-color: #777;
}
#ck-slide4 p:first-child {
  border-color: #8F8100;
}
#ck-slide5 p:first-child {
  border-color: #777;
}
#ck-slide6 p:first-child {
  border-color: #C6930A;
}
#ck-slide7 p:first-child {
  border-color: #AB650D;
}
