/******************************
 CONSERVATION
*******************************/
/*** SLIDE 0 ***/
#cons-slide0 {
    background-image: url(../images/conservation/XO5J7652_web.jpg);
    /*background-color: #555;*/
}
#cons-slide0 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 1 ***/
#cons-slide1 {
    /*background-image: url(../images/conservation/**.jpg);*/
    background-color: #222;
}
#cons-slide1 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 2 ***/
#cons-slide2 {
    /*background-image: url(../images/conservation/**.jpg);*/
    background-color: #555;
}
#cons-slide2 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 3 ***/
#cons-slide3 {
    /*background-image: url(../images/conservation/**.jpg);*/
    background-color: #222;
}
#cons-slide3 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 4 ***/
#cons-slide4 {
    /*background-image: url(../images/conservation/**.jpg);*/
    background-color: #555;
}
#cons-slide4 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 5 ***/
#cons-slide5 {
    /*background-image: url(../images/conservation/**.jpg);*/
    background-color: #222;
}
#cons-slide5 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 6 ***/
#cons-slide6 {
    /*background-image: url(../images/conservation/**.jpg);*/
    background-color: #555;
}
#cons-slide6 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 7 ***/
#cons-slide7 {
    /*background-image: url(../images/conservation/**.jpg);*/
    background-color: #222;
}
#cons-slide7 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 8 ***/
#cons-slide8 {
    background-color: #000;
}