@charset "utf-8";
#cons-slide0 p:first-child {
  border-color: #AB650D;
}
#cons-slide1 p:first-child {
  border-color: #777;
}
#cons-slide2 p:first-child {
  border-color: #777;
}
#cons-slide3 p:first-child {
  border-color: #777;
}
#cons-slide4 p:first-child {
  border-color: #777;
}
#cons-slide5 p:first-child {
  border-color: #777;
}
#cons-slide6 p:first-child {
  border-color: #777;
}
#cons-slide7 p:first-child {
  border-color: #777;
}
#cons-slide8 p:first-child {
  border-color: #777;
}
#cons-slide9 p:first-child {
  border-color: #777;
}
