.contact {
  margin-top: 5rem;
}
.contact-heading {
  margin-left: 2rem;
}
.contact-heading > h3 {
  margin-bottom: 1.5rem;
}
.contact-entry {
  margin-left: 3rem;
}
.address-block {
  display: inline-block;
}
.address-block-line1 {
  display: inline-block;
  margin-left: -0.3rem;
}
.address-block-line2 {
  display: inline-block;
  margin-left: 1.7rem;
}
