.contact {
  margin-top: 5rem;
}
.contact-bg {
  opacity:0.1; 
  left: 0;
  top: 0rem;
}
.contact-heading {
  margin-left: 2rem;
}
.contact-heading > h3 {
  margin-bottom: 1.5rem;
}
.contact-entry {
  margin-left: 3rem;
}
.address-block {
  display: inline-block;
}
.address-block-line1 {
  display: inline-block;
  margin-left: -0.3rem;
}
.address-block-line2 {
  display: inline-block;
  margin-left: 1.7rem;
}
.glyph-spacing-right {
  padding-right: 0.8rem;
}
.glyph-spacing-left {
  padding-left: 0.8rem;
}

.leaflet-map {
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  width: 64rem;
  height: 36rem;
  border: 2px solid #ffffff;
}