@charset "utf-8";
video#bgvid {
    position: fixed;    
    width: auto;
    height: auto;
    z-index: -100;
    background: #000; /*url(../images/) no-repeat;*/
    background-size: cover;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
  }