@charset "utf-8";
/* Best not to overwrite the users presets if at all possible. Can adjust size by percent in MQ. */ 
/* Assumptions: 100% = 1 em ~= 16px ~= 14pt */
html {
  font-size: 100%; 
  min-width: 640px;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 5rem;
  text-rendering: optimizeLegibility;
  /*font-family: 'Exo 2', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  /*background-color: #000;*/
  /*background-color: #cef;*/
  /*background-color: rgba(66, 89, 104, 1);*/ /* Causes breadcrumb indicators yto be hidden */
  background-color: #222D35;
  color: #fff;
}

h1 small {
  /*color: #8F8100;*/ /*#AADD6D;*/ /*#71B2C9;*/ /*#4298B5;*/ /*#AB650D;*/ /*#8F8100;*/
  color: rgba(170, 221, 109, 1);
}
a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  color: #71B2C9;
}
a:hover {
  color: #AB650D;
}
.footer {
  background-color: #111;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  padding-top: 0.8rem;
}
.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.bgvideo {
    position: fixed;
    width: auto;
    height: auto;
    z-index: -100;
    background: #000;
    background-size: cover;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
  }
.glyph-spacing-right {
  padding-right: 0.8rem;
}
.glyph-spacing-left {
  padding-left: 0.8rem;
}
.overlay {
  /*z-index: 100;*/
  position: absolute;
  max-width: 30%;
  max-height: 30%;
  border-radius: 15px;
  border: 1px solid #8E8C7A;
  box-shadow:2px 2px 7px 1px rgba(0,0,0,0.5);
  /*bottom: 5rem;*/
}
.overlay-left {
  z-index: 120;
  left: 3rem;
  bottom: 5rem;
}
.overlay-center {
  z-index: 110;
  left: 35%;
  bottom: 6.5rem;
}
.overlay-right {
  z-index: 100;
  right: 3rem;
  bottom: 8rem;
}
.text-black { color: #222; text-shadow: none; }