@charset "utf-8";
/* Best not to overwrite the users presets if at all possible. Can adjust size by percent in MQ. */ 
/* Assumptions: 100% = 1 em ~= 16px ~= 14pt */
html {
  font-size: 100%; 
  min-width: 640px;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 5rem;
  text-rendering: optimizeLegibility;
  /*font-family: 'Exo 2', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  background-color: #222D35;
  color: #fff;
}
h1 small {
  color: rgba(198, 147, 10, 1);
}
a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  /*color: #71B2C9;*/
  color: #aaa;
}
a:hover {
  /*color: #AB650D;*/
  color: #71B2C9;
}
.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}
.aquiferium-title {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.eaa-logo {
  min-width: 80px;
  max-width: 10%;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.3rem;
}
.eaa-logo-contact {
  margin: 2rem 0rem 0rem 1rem;
  padding: 1rem;
  background-color: #fff;
  border: 2px solid #000;
  -webkit-border-radius: 0 4rem 0;
  -moz-border-radius: 0 4rem 0;
  border-radius: 0 4rem 0;
}
.apptitle {
  /*position: relative;*/
  /*top: 0.2rem;*/
  /*bottom: 0;*/
  font-weight: 700;
  /*font-size: 30px;*/
  font-size: 1.2rem;
  /*color: #000;    */
}
.subtitle {
  font-size: 1.2rem;
  color: rgba(198, 147, 10, 1);
}
.footer {
  color: #777;
  background-color: #111;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  padding-top: 0.8rem;
}
.no-Ibar {
  cursor: default;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*.centered2 {
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 1rem;
  width: 100%;
}
.centered3 {
  left: 50%;
  margin-left: -50%;
  width: 100%;
}*/

/*.container-centered { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
}
.container-centered > div {
  display: inline-block;
  text-align: left;
}*/