@charset "utf-8";
/* Best not to overwrite the users presets if at all possible. Can adjust size by percent in MQ. */ 
/* Assumptions: 100% = 1 em ~= 16px ~= 14pt */
html {
  font-size: 100%; 
  min-width: 640px;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 5rem;
  text-rendering: optimizeLegibility;
  /*font-family: 'Exo 2', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  background-color: #222D35;
  color: #fff;
}
h1 small {
  color: rgba(198, 147, 10, 1);
}
a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  color: #71B2C9;
}
a:hover {
  color: #AB650D;
}
.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}
.eaa-logo {
  min-width: 80px;
  max-width: 10%;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.3rem;
}
.apptitle {
  position: relative;
  top: 0.2rem;
  bottom: 0;
  font-weight: bold;
  font-size: 30px;
  color: #000;    
}
.footer {
  background-color: #111;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  padding-top: 0.8rem;
}
.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.no-Ibar {
  cursor: default;
}
