@charset "utf-8";

/* General */

#interactive {
  width: 64rem;
  height: 36rem;
}
.interactive {
  /*margin: 0rem 0rem 0rem 0rem;*/
}
.viz {
  width: 100%;
  height: 100%;
  margin-left, margin-right: auto;
  cursor: default;
}
.year-display {
  position: absolute;
  margin-top: 11rem;
  margin-left: 11rem;
  font-size: 18em;
  font-weight: 700;
  color: rgba(0,0,0,0.1);
}

/* Data Display */
.data-display {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.data-item {
  font-size: 1rem;
  font-weight: 100;
}
.data-value {
  font-weight: 500;
}
.legend-box {
  z-index: 200;
  width: 24rem;
  line-height: 0.1rem;
  font-size: 1rem;
  /*background-color: rgba(100, 100, 100, 0.2);*/
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: rgba(255,255,255, 0.7);
  border: 1px solid #000;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
  stroke: #000;
}
.legend-item {
  width: 25rem;
  height: 1.8rem;
}
.legend-box {
  border: 0.05rem; solid #000;
}
.legend-recharge {
  height: 3.6rem;
}
.legend-wells {
  height: 5.5rem;
}
.legend-springs {
  height: 16rem;
}

/* Map */
.geo-bounds {
  position: absolute;
  width: 46rem;
  margin-left: 0rem;
  margin-top: 0rem;
}
.geo-bounds.recharge {
  margin-left: 14rem;
}
.geo-bounds.wells {
  margin-left: 14rem;
}
.geo-bounds.springs {
  margin-top: 1rem;
  margin-left: 14rem;
}
.area1 {
  stroke: rgba(66, 152, 181, 0.8);
  stroke-width: 0.01rem;
  /*fill: rgba(66, 89, 104, 0.8);*/
  /*fill: rgba(181,202,210,0.8);*/
  /*fill: rgba(128,177,193,0.8);*/
  /*fill: rgba(76,254,216,0.8);*/
  /*fill: rgba(10,189,201,0.8);*/
  /*fill: rgba(60,180,200,0.8);*/
  fill: rgba(175,235,222,0.8);
}
.area2 {
  stroke: rgba(66, 152, 181, 0.8);
  stroke-width: 0.01rem;
  fill: rgba(113, 178, 201, 0.8);
}
.info-panel {
  width: 16rem;
  height: 3rem;
  color: #000;
  border: 1px solid #000;
  -moz-border-radius-topleft: 1rem;
  -webkit-border-top-left-radius: 1rem;
  -moz-border-radius-topright: 1rem;
  -webkit-border-top-right-radius: 1rem;
  -moz-border-radius-bottomleft: 1rem;
  -webkit-border-bottom-left-radius: 1rem;
  -moz-border-radius-bottomright: 1rem;
  -webkit-border-bottom-right-radius: 1rem;
}
#j17 {
  position: fixed;
  top: 40.25rem;
  left: 39rem;
  width: 7rem;
  background-color: #E64457;
  /*border: 1px solid #991E2D;*/
  -moz-border-radius-topleft: 0rem;
  -webkit-border-top-left-radius: 0rem;
}
#leona {
  position: fixed;
  top: 41rem;
  left: 22rem;
  width: 12rem;
  background-color: #E07CE6;
  /*color: #000;*/
  /*border: 1px solid #944399;*/
  -moz-border-radius-topright: 0rem;
  -webkit-border-top-right-radius: 0rem;
}
#san-marcos {
  position: fixed;
  top: 34rem;
  left: 40.25rem;
  width: 14rem;
  background-color: #D6D371;
  /*color: #000;*/
  /*border: 1px solid #8A883B;*/
  -moz-border-radius-bottomleft: 0rem;
  -webkit-border-bottom-left-radius: 0rem;
}
.marker-name {
  margin: 1rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
}
.subunit-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}
.map-label {
  color: #000;
}
.Drainage {
  fill: rgba(170, 221, 109, 1);
}
.Recharge {
  fill: rgba(113, 178, 201, 1);
}
.Artesian {
  fill: rgba(230, 211, 149, 1);
}
.map-region {
  fill: #f00;
  stroke: #0f0;
}

/* Line Graph */
.graph-bounds {
  position: absolute;
  bottom: 1em;
  font-size: .7rem;
}
.chart {
  font-size: .7rem;
}
.axis {
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  /*display: none;*/
}
.y.axis path {
  display: none;
}
.line {
  fill: none;
  stroke-width: 2px;
}
.indicator-line {
  z-index: 50;
  visibility: hidden;
}
.chart-subtext {
  margin-top: 1rem;
  margin-left: 3rem;
  color: #000;
  font-size: .65rem;
  font-style: italic;
}
.graph-notes {
  z-index: 200;
  position: absolute;
  bottom: 1.2em;
  right: 5em;
  color: #333;
  font-size: 0.6rem;
  font-style: italic;
}
