@charset "utf-8";
/*Medium Devices, Mobile & Tablets*/
@media only screen and (min-width : 768px) {
  /* General */
  html { font-size: 16px; }
  body { padding-top: 6.0rem; }
  /* Nav */
  .apptitle { font-size: 1.8rem; }
  /* Parallax */
  /* Caves & Karts */
  #ck-slide0 {
    background-image: url(../images/caves_karsts/DSC_0318_web_md.jpg);
  }
  #ck-slide1 {
    background-color: #222;
  }
  #ck-slide2 {
    background-image:url(../images/caves_karsts/For-Doty1_1280x979_web_md.jpg);
  }
  #ck-slide3 {
    background-color: #222;
  }
  #ck-slide4 {
    background-image:url(../images/caves_karsts/edwards-limestone_web_md.jpg);
  }
  #ck-slide5 {
    background-color: #222;
  }
  #ck-slide6 {
    background-image:url(../images/caves_karsts/valdina_8r_web_md.jpg);
  }
  #ck-slide7 {
    background-image:url(../images/caves_karsts/Valdina_Farms_Cave_IMG0017_web_md.jpg);
  }
  #ck-slide8 {
    background-color: #000;
  }
  /* Conservation */
  #cons-slide0 {
    background-image: url(../images/conservation/07Jul_PumpStation_CMYK_web_md.jpg);
  }
  #cons-slide1 {
    background-image: url(../images/conservation/XO5J7652_web_md.jpg);
  }
  #cons-slide2 {
    background-image: url(../images/conservation/EAAgilleland_web_md.jpg);
  }
  #cons-slide3 {
    background-image: url(../images/conservation/05May_MartinMarietta_CMYK_web_md.jpg);
  }
  #cons-slide4 {
    background-image: url(../images/conservation/08Aug_Landa_CMYK_web_md.jpg);
  }
  #cons-slide5 {
    background-image: url(../images/conservation/SM_salamander_XO5J9266_web_md.jpg);
  }
  #cons-slide6 {
    background-image: url(../images/conservation/Board-Room-corner_Panorama1-P_web_md.jpg);
  }
  #cons-slide7 {
    background-image: url(../images/conservation/EAA-rainGauge_web_md.jpg);
  }
  #cons-slide8 {
    background-color: #eee;
  }
  #cons-slide9 {
    background-image: url(../images/conservation/GBRA_20121017_6763_web_md.jpg);
  }
  #cons-slide10 {
    background-color: #000;
  }
  /* Springs */
  #springs-slide0 {
    background-image: url(../images/springs/com-springs2_web_md.jpg);
  }
  #springs-slide1 {
    background-image: url(../images/springs/waterfall_web_md.jpg);
  }
  #springs-slide2 {
    background-image: url(../images/springs/Boat_0054_web_md.jpg);
  }
  #springs-slide3 {
    background-image:url(../images/springs/aerial_view_web_md.jpg);
  }
  #springs-slide4 {
    background-image: url(../images/springs/Looking-Underwater_0017_web_md.jpg);
  }
  #springs-slide5 {
    background-image: url(../images/springs/EAAaquarena20120702_8316_web_md.jpg);
  }
  #springs-slide6 {
    background-color: #555;
  }
  #springs-slide7 {
    background-image: url(../images/springs/EAArice20120503_3620_web_md.jpg);
  }
  #springs-slide8 {
    background-image: url(../images/springs/EAAOriparianrandy20120801_0404_web_md.jpg);
  }
  #springs-slide9 {
    background-image: url(../images/springs/Looking-Underwater_0020_web_md.jpg);
  }
  #springs-slide10 {
    background-color: #000;
  }
}