@charset "utf-8";
/*XLarge Devices, Wide Screens*/
@media only screen and (min-width : 1200px) {
  /* General */
  html { font-size: 20px; }
  body { padding-top: 2.6rem; }
  /* Nav */
  .apptitle { font-size: 1.4rem; }
  /* Explore */
  /*video#bgvid { width: 1920; height: 1080; }*/
  /* Parallax */
  /* Caves & Karts */
  #ck-slide0 {
    background-image: url(../images/caves_karsts/DSC_0318_web_xlg.jpg);
  }
  #ck-slide1 {
    /*background-color: #222;*/
  }
  #ck-slide2 {
    background-image:url(../images/caves_karsts/For-Doty1_1280x979_web_xlg.jpg);
  }
  #ck-slide3 {
    /*background-color: #222;*/
  }
  #ck-slide4 {
    background-image:url(../images/caves_karsts/edwards-limestone_web_xlg.jpg);
  }
  #ck-slide5 {
    /*background-color: #222;*/
  }
  #ck-slide6 {
    background-color: #555;
  }
  #ck-slide7 {
    background-image:url(../images/caves_karsts/valdina_8r_web_xlg.jpg);
  }
  #ck-slide8 {
    background-image:url(../images/caves_karsts/Valdina_Farms_Cave_IMG0017_web_xlg.jpg);
  }
  #ck-slide9 {
    background-color: #000;
  }
  /* Conservation */
  #cons-slide0 {
    
  }
  #cons-slide1 {
    /*background-image: url(../images/conservation/XO5J7652_web_xlg.jpg);*/
    background-image: url(../images/conservation/07Jul_PumpStation_CMYK_web_xlg.jpg);
  }
  #cons-slide2 {
    background-image: url(../images/conservation/EAAgilleland_web_xlg.jpg);
  }
  #cons-slide3 {
    background-image: url(../images/conservation/05May_MartinMarietta_CMYK_web_xlg.jpg);
  }
  #cons-slide4 {
    background-image: url(../images/conservation/08Aug_Landa_CMYK_web_xlg.jpg);
  }
  #cons-slide5 {
    /*background-image: url(../images/conservation/SM_salamander_XO5J9266_web_xlg.jpg);*/
    background-image: url(../images/conservation/EAAOborny20120710_xlg.jpg);
  }
  #cons-slide6 {
    /*background-image: url(../images/conservation/Board-Room-corner_Panorama1-P_web_xlg.jpg);*/
    background-image: url(../images/conservation/HIGH-RESOLUTION-BOARD_xlg.jpg);
  }
  #cons-slide7 {
    /*background-image: url(../images/conservation/EAA-rainGauge_web_xlg.jpg);*/
  }
  #cons-slide8 {
    background-color: #eee;
  }
  #cons-slide9 {
    /*background-image: url(../images/conservation/GBRA_20121017_6763_web_xlg.jpg);*/
    background-image: url(../images/conservation/Melani-Howard20120502_xlg.jpg);
  }
  #cons-slide10 {
    background-color: #000;
  }
  /* Springs */
  #springs-slide0 {
    /*background-image: url(../images/springs/com-springs2_web_xlg.jpg);*/
  }
  #springs-slide1 {
    /*background-image: url(../images/springs/waterfall_web_xlg.jpg);*/
  }
  #springs-slide2 {
    /*background-image: url(../images/springs/Boat_0054_web_xlg.jpg);*/
  }
  #springs-slide3 {
    background-image:url(../images/springs/aerial_view_web_xlg.jpg);
  }
  #springs-slide4 {
    /*background-image: url(../images/springs/Looking-Underwater_0017_web_xlg.jpg);*/
  }
  #springs-slide5 {
    background-image: url(../images/springs/EAAaquarena20120702_8316_web_xlg.jpg);
  }
  #springs-slide6 {
    background-color: #555;
  }
  #springs-slide7 {
    background-image: url(../images/springs/EAArice20120503_3620_web_xlg.jpg);
  }
  #springs-slide8 {
    background-image: url(../images/springs/EAAOriparianrandy20120801_0404_web_xlg.jpg);
  }
  #springs-slide9 {
    background-image: url(../images/springs/Looking-Underwater_0020_web_xlg.jpg);
  }
  #springs-slide10 {
    background-color: #000;
  }
}