
/* Media Queries */

/* portrait phone (< 640px) */
@media screen and (max-width:39.9999em) {
  html { font-size:0.500em; }
  body { margin-top: 0rem; margin-left: -2rem; }
}

/* landscape phone and portrait tablet (>= 640px < 768px) */
@media screen and (min-width:40em) and (max-width:47.9999em) {
  html { font-size:0.550em; }
  body { margin-top: 0rem; margin-left: 0rem; }
}

/* landscape tablet and small monitor  (>= 768px < 820px) */
@media screen and (min-width:48em) and (max-width:51.2499em) {
  html { font-size:0.660em; }
  body { margin-top: 0rem; margin-left: 0rem; }
}

/* small monitor (>= 820px < 96px) */
@media screen and (min-width:51.25em) and (max-width:59.9999em) {
  html { font-size:0.720em; }
  body { margin-top: 0rem; margin-left: 0rem; }
}

/* small monitor (>= 960px < 1060px) */
@media screen and (min-width:60em) and (max-width:66.2499em) {
  html { font-size:0.84em; }
  body { margin-top: 0rem; margin-left: 0rem; }
}

/* small monitor (>= 1060px < 1152px) */
@media screen and (min-width:66.25em) and (max-width:71.9999em) {
  html { font-size:0.930em; }
  body { margin-top: 0rem; margin-left: 0rem; }
}

/* normal monitor (>= 1152px < 1280px) */
@media screen and (min-width:72em) and (max-width:79.9999em) {
  html { font-size:1.000em; }
  body { margin-top: 0rem; margin-left: 0rem; }
}

/* large monitor (>= 1280px < 1360px) */
@media screen and (min-width:80em) and (max-width:84.9999em) {
  html { font-size:1.125em; }
  body { margin-top: 0rem; margin-left: 0rem; }
}

/* xlarge monitor (>= 1360px < 1440px) */
@media screen and (min-width:85em) and (max-width:89.9999em) {
  html { font-size:1.2em; }
  body { margin-top: 0rem; margin-left: 0rem; }
}

/* xxlarge monitor (>= 1440px < 1600px) */
@media screen and (min-width:90em) and (max-width:99.9999em) {
  html { font-size:1.28em; }
  body { margin-top: 0rem; margin-left: 0rem; }
}

/* HD screen (>= 1600px ) */
@media screen and (min-width:100em) {
  html { font-size:1.42em; }
  body { margin-top: 0rem; margin-left: 0rem; }
}

/* HD 1080p screen (>= 1920px ) */
@media screen and (min-width:120em) {
  html { font-size:1.635em; }
  body { margin-top: 0rem; margin-left: 0rem; }
}


/* Scales */
/*
---------------------------
Points    Pixels    Ems       Percent   Keyword

7.5pt     10px      0.625em   62.5%     x-small 
10pt      13px      0.8em     80%       small
12pt      16px      1em       100%      medium 
13.5pt    18px      1.125em   112.5%    large
18pt      24px      1.5em     150%      x-large
24pt      32px      2em       200%      xx-large

@ 16px font-size:

Pixels  EMs       Percent   Points
6px     0.375em   37.5%     5pt
7px     0.438em   43.8%     5pt
8px     0.500em   50.0%     6pt
9px     0.563em   56.3%     7pt
10px    0.625em   62.5%     8pt
11px    0.688em   68.8%     8pt
12px    0.750em   75.0%     9pt
13px    0.813em   81.3%     10pt
14px    0.875em   87.5%     11pt
15px    0.938em   93.8%     11pt
16px    1.000em   100.0%    12pt
17px    1.063em   106.3%    13pt
18px    1.125em   112.5%    14pt
19px    1.188em   118.8%    14pt
20px    1.250em   125.0%    15pt
21px    1.313em   131.3%    16pt
22px    1.375em   137.5%    17pt
23px    1.438em   143.8%    17pt
24px    1.500em   150.0%    18pt

---------------------------
1 / font-size-px * required-pixels = em

1 / 16 * 480 = 30em

@ 16px font-size:

480px = 30em
640px = 40em
800px = 50em
960px = 60em
1024px = 64em
1280px = 80em
1360px = 85em
1440px = 90em
1600px = 100em
1920px = 120em

*/