/* Best not to overwrite the users presets if at all possible. Can adjust size by percent in MQ. */ 
/* 100% = 1 em ~= 16px ~= 14pt */
/*html { 
  font-size: 100%; 
}
body { 
  background-color: #cef; 
  font-size: 1rem; 
  font-family: 'Exo 2', sans-serif; 
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
*/

/* Skrollr specific css */
.div-fixed { position: fixed; }
.div-relative { position: relative; }
.div-absolute { position: absolute; }

.z-0 {
  /* requires position */
  z-index: 0;
}
.z-50 {
  /* requires position */
  z-index: 50;
}
.z-100 {
  /* requires position */
  z-index: 100;
}
.z-150 {
  /* requires position */
  z-index: 150;
}
.z-200 {
  /* requires position */
  z-index: 200;
}
.z-250 {
  /* requires position */
  z-index: 250;
}
.z-300 {
  /* requires position */
  z-index: 300;
}
.z-350 {
  /* requires position */
  z-index: 350;
}
.z-400 {
  /* requires position */
  z-index: 400;
}
.z-500 {
  /* requires position */
  z-index: 500;
}

.quicknav-hor { 
  position: fixed; 
  top: 4.2rem;
  left: 50%;
  margin-left: -20rem;
  height: 1.2rem;
  width: 40rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /*background-color: #000; */
  /*border: 0.1rem solid rgba(255,255,255,0.6); */
  /*border-radius: 0.25rem; */
  /*text-align: left; */
}
.nav-circle-container {
  width: 3rem;
  height: 3rem;
}

.background {
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  background-size: cover;
  height: 156.25rem;
  width: 100%;
  /*box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);*/
}
.section-bg {
  /*background-size: cover;*/
  /*height: 100%;*/
  /*width: 100%;*/
  background-color: rgb(0,0,255);
}

/* May need to seperate the -frame classes top and left positions into seperate classes for better granular placement in app. */
/* Same goes for border colors.*/
.text-frame {
  width: 64rem;
  color: #fff;
  background-color: #111;
  border: 2px solid #fff;
  -webkit-border-radius: 0 4rem 0;
  -moz-border-radius: 0 4rem 0;
  border-radius: 0 4rem 0;
  padding: 1rem 3rem 1rem 3rem;
  opacity: 0.85;
  text-align: justify;
}
.text-label {
  width: 30rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  text-align: right;
}
.image-frame {
  width: 64rem;
  height: 36rem; /*33.75rem;*/
  background-size: cover;
  background-position: center center;
  border-radius: 2rem;
  border: 0.1rem solid rgba(0,0,0,0.7);
}
.image-frame-tall {
  width: 64rem;
  height: 90rem;
  background-size: cover;
  background-position: center center;
  border-radius: 2rem;
  border: 0.1rem solid rgba(0,0,0,0.7);
}
.video-frame {
  width: 64rem;
  background: #000;
  background-size: cover;
  border: 0.1rem solid rgba(0,0,0,0.7);
}
.interactive-frame {
  width: 64rem;
  height: 36rem;
  background: #dedede;
  background-size: cover;
  border-radius: 2rem;
  border: 0.1rem solid rgba(0,0,0,0.7);
}
.interactive-frame.aquifers {
  background: rgba(0,0,0,0.5);
}
.image-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.video-bg {;*/
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  background-size: cover;
}

.scroll-link {
  width: 30rem;
  font-size: 1rem;
  color: rgba(198, 147, 10, 1);
}

.end-link {
  width: 30rem;
  font-size: 1rem;
}
.end-link > a:hover {
  color: rgba(209,91,5,1);
}

#holder {
  top: -0.6rem;
  left: -2.2rem;
  /*margin: 3.125rem auto;*/
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
}
.pulse {
  width: 0.625rem;
  height: 0.625rem;
  border: 0.rem solid rgba(113,178,201,1);
  -webkit-border-radius: 1.875rem;
  -moz-border-radius: 1.875rem;
  border-radius: 1.875rem;
  background-color: rgba(113,178,201,1);
  z-index: 10;
  position: absolute;
  left: 0.9375rem;
  top: 0.9375rem;
}
.dot {
  border: 1rem solid rgba(113,178,201,1);
  background: transparent;
  -webkit-border-radius: 3.75rem;
  -moz-border-radius: 3.75rem;
  border-radius: 3.75rem;
  height: 3.125rem;
  width: 3.125rem;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -0.3125rem;
  left: -0.3125rem;
  z-index: 1;
  opacity: 0;
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}
@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}

/* Images */

/* Backgrounds */
#water-1 { background-image:url('../images/explore/water-fall.png'); }
#water-2 { background-image:url('../img/water-2.png'); }
#water-3 { background-image:url('../img/water-3.png'); }
#water-4 { background-image:url('../img/water-scatter.png'); }
#water-5 { background-image:url('../img/droplet-cluster.png'); }
#water-6 { background-image:url('../img/water.png'); }

/* Caves & Karst */
#ck-image-00 { background-image:url(../images/caves_karsts/DSC_0318_web_hd.jpg); }
#ck-image-01 { background-image:url(../images/caves_karsts/For-Doty1_1280x979_web_hd.jpg); }
#ck-image-02 { background-image:url(../images/caves_karsts/edwards-limestone_web_hd.jpg); }
#ck-image-03 { background-image:url(../images/caves_karsts/valdina_8r_web_hd.jpg); }
#ck-image-04 { background-image:url(../images/caves_karsts/Valdina_Farms_Cave_IMG0017_web_hd.jpg); }

.address-lookup {
  line-height: 2rem;
  padding-left: 1.5rem;
  /*font-weight: 700;*/
}
.address-lookup a {
  padding-left: 1rem;
}
.address-lookup-color {
  color: #C6930A;
}
.nav-link-address-lookup:hover, .nav-link-address-lookup:visited, .nav-link-address-lookup:link, .nav-link-address-lookup:active
{
  text-decoration: none;
  color: #AADD6D;
}
.nav-link-address-lookup:hover {
  color: #71B2C9;
}

/* Conservation */


/* Springs */


/* Testing */
.scroll-index {
  position: fixed;
  top: 0.4rem;
  left: 0.4rem;
  width: 18rem;
  /*height: auto;*/
  padding: 0.5rem;
  background-color:#111;
  border: 0.08rem solid rgba(228,0,256,0.9);
  /*border-radius: 1rem;*/
  text-align: center;
}

#explosion { background-image:url('../images/explore/kleur-explosion-1080x1920.jpg')}
#skull { background-image:url('../images/explore/psychedelic-skull-artistic-hd-wallpaper-1920x1080-4333.jpg')}
#tripper { background-image:url('../images/explore/Psychedelic-Videos-Feature.jpg')}
#space { background-image:url('../img/9nc2h.jpg'); }
#planet { background-image:url('../img/Cocoon_Concept_Artwork.jpg'); }
