@charset "utf-8";
#springs-slide0 p:first-child {
  border-color: #71B2C9;
}
#springs-slide1 p:first-child {
  border-color: #777;
}
#springs-slide2 p:first-child {
  border-color: #777;
}
#springs-slide3 p:first-child {
  border-color: #AADD6D;
}
#springs-slide4 p:first-child {
  border-color: #777;
}
#springs-slide5 p:first-child {
  border-color: #71B2C9;
}
#springs-slide6 p:first-child {
  border-color: #777;
}
#springs-slide7 p:first-child {
  border-color: #AADD6D;
}
#springs-slide8 p:first-child {
  border-color: #AADD6D;
}
#springs-slide9 p:first-child {
  border-color: #777;
}
.nav-link-hcp:hover, .nav-link-hcp:visited, .nav-link-hcp:link, .nav-link-hcp:active
{
  text-decoration: none;
  color: #C6930A;
}
.nav-link-hcp:hover {
  color: #E6D395; 
}
video.bgv-springs-slide0 {
  background: url(../images/springs/SpringFlow.jpg) no-repeat;
}
video.bgv-springs-slide1 {
  background: url(../images/springs/ComalSpringsRun.jpg) no-repeat;
}
video.bgv-springs-slide2 {
  background: url(../images/springs/SpringRun.jpg) no-repeat;
}
video.bgv-springs-slide4 {
  background: url(../images/springs/SanMarcosSprings.jpg) no-repeat;
}