/******************************
 SPRINGS
*******************************/
/*** SLIDE 0 ***/
#springs-slide0 {
    background-image: url(../images/springs/com-springs2_web.jpg);
    /*background-color: #555;*/
}
#springs-slide0 p:first-child {
    border: 1px solid #71B2C9;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 1 ***/
#springs-slide1 {
    background-image: url(../images/springs/waterfall_web.jpg);
    /*background-color: #222;*/
}
#springs-slide1 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 2 ***/
#springs-slide2 {
    background-image: url(../images/springs/Boat_0054_web.jpg);
    /*background-color: #555;*/
}
#springs-slide2 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 3 ***/
#springs-slide3 {
    background-image:url(../images/springs/aerial_view.jpg);
    /*background-color: #222;*/
}
#springs-slide3 p:first-child {
    border: 1px solid #AADD6D;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 4 ***/
#springs-slide4 {
    background-image: url(../images/springs/Looking-Underwater_0017_web.jpg);
    /*background-color: #555;*/
}
#springs-slide4 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 5 ***/
#springs-slide5 {
    background-image: url(../images/springs/EAAaquarena20120702_8316_web.jpg);
    /*background-color: #222;*/
}
#springs-slide5 p:first-child {
    border: 1px solid #71B2C9;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 6 ***/
#springs-slide6 {
    /*background-image: url(../images/springs/**);*/
    background-color: #555;
}
#springs-slide6 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 7 ***/
#springs-slide7 {
    background-image: url(../images/springs/EAArice20120503_3620_web.jpg);
    /*background-color: #222;*/
}
#springs-slide7 p:first-child {
    border: 1px solid #AADD6D;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 8 ***/
#springs-slide8 {
    background-image: url(../images/springs/EAAOriparianrandy20120801_0404_web.jpg);
    /*background-color: #222;*/
}
#springs-slide8 p:first-child {
    border: 1px solid #AADD6D;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
/*** SLIDE 9 ***/
#springs-slide9 {
    background-image: url(../images/springs/Looking-Underwater_0020_web.jpg);
    /*background-color: #222;*/
}
#springs-slide9 p:first-child {
    border: 1px solid #777;
    -webkit-border-radius: 0 4em 0;
    -moz-border-radius: 0 4em 0;
    border-radius: 0 4em 0;
    padding: 1em 2em 1em 2em;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}
.navLinkHcp:hover, .navLinkHcp:visited, .navLinkHcp:link, .navLinkHcp:active
{
  text-decoration: none;
  color: #C6930A;
}
.navLinkHcp:hover {
  color: #E6D395; 
}
/*** SLIDE 10 ***/
#springs-slide10 {
    background-color: #000;
}