/************************************/
/* ANGULAR DOCS */
 .view-animate-container {
  position:relative; /*relative*/
  height:100%!important;
}
.view-animate {
}
.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.450, 0.450, 0.950) 0.80s;
    -moz-transition:all cubic-bezier(0.250, 0.450, 0.450, 0.950) 0.80s;
    -o-transition:all cubic-bezier(0.250, 0.450, 0.450, 0.950) 0.80s;
    transition:all cubic-bezier(0.250, 0.450, 0.450, 0.950) 0.80s;
    display:inline-block;
    width:100%;
    position:absolute; /*absolute, relative*/
}
.view-animate.ng-enter {
    left:100%;
    opacity:0;
}
.view-animate.ng-enter.ng-enter-active {
    left:0;
    opacity:1;
}
.view-animate.ng-leave {
    left:0;
    opacity:1;
}
.view-animate.ng-leave.ng-leave-active {
    left:-120%;
    opacity:0;
}
