<div>
    <h1>Discover Your Aquifer<br/><small>Find out how the aquifer impacts you</small></h1>
    
    <!-- <div data-ng-controller="githubChartCtrl">
        <h1>Github Commit Graph</h1>
        <form ng-submit="getCommitData()">
            User:
            <input ng-model="user"></input>
            Repo:
            <input ng-model="repo"></input>
            <input type="submit" value="Get Data">Grouped
            <input type="checkbox" ng-model="grouped">
        </form>
        <p class="error">{{error}}</p>
        <gh-visualization val="data" grouped="grouped"></gh-visualization>
    </div> -->
</div>
