<div class="caveskarsts">
	<!-- Slide 0 -->
	<div data-parallax-background class="slide" id="ck-slide0" data-slide="0" data-parallax-ratio="0.5">
		<!-- <span class="slideno"><h1>Seco Sinkhole</h1></span> -->
    <a class="button-scroll" data-slide="1" title="" data-ng-click="buttonClick($event)"></a>
    <div class="wrapper">
      <p alt="">The Edwards Aquifer — one of the most prolific karst aquifers in the United States — is located right here in south central Texas.  Explore and discover the features that make this aquifer one of the most porous and permeable aquifers around.</p>
		</div>     
	</div>

	<!-- Slide 1 -->
	<div data-parallax-background class="slide" id="ck-slide1" data-slide="1" data-parallax-ratio="0.5">
	  <!-- <span class="slideno"><h1>Waterflow</h1></span> -->
    <a class="button-scroll" data-slide="2" title="" data-ng-click="buttonClick($event)"></a>
    <div class="wrapper">
      <p alt="">For millions of years, water has transformed the landscape of the Balcones Fault Zone in South Central Texas, creating the Edwards Aquifer and the hundreds of caves and karst features within the limestone.</p>   
      <video class="plxbgvideo bgv-ck-slide1" poster="../images/caves_karsts/SecoSinkhole.jpg" preload="auto" autoplay loop muted volume="0">
        <source src="../videos/720p/SecoSinkhole.webm" type="video/webm">
        <source src="../videos/720p/SecoSinkhole.mp4" type="video/mp4">
      </video>
    </div>    
  </div>

	<!-- Slide 2 -->
	<div data-parallax-background class="slide" id="ck-slide2" data-slide="2" data-parallax-ratio="0.5">
		<!-- <span class="slideno"><h1>Location</h1></span> -->
    <a class="button-scroll" data-slide="3" title="" data-ng-click="buttonClick($event)"></a>
    <div class="wrapper">
      <p alt="">Beginning along the Southern edge of the Edwards Plateau, the 5,400 square mile Drainage Area funnels water into streams and creeks that flow south toward the Recharge Zone—the outcrop of the Edwards Limestone.<br><span class="address-lookup"><span class="glyphicon glyphicon-search glyph-spacing-right address-lookup-color"></span>Learn which aquifer sustains your area today.<a class="nav-link-address-lookup" href="{{urlAddressLookup}}" title="Aquifer Address Lookup" target="_blank" ng-click="linkModelFunc(urlAddressLookup)">Look up your address online here!</a></span></p>
		</div>     
	</div>

	<!-- Slide 3 -->
	<div data-parallax-background class="slide" id="ck-slide3" data-slide="3" data-parallax-ratio="0.5">
		<!-- <span class="slideno"><h1>Drainage</h1></span> -->
    <a class="button-scroll" data-slide="4" title="" data-ng-click="buttonClick($event)"></a>
    <div class="wrapper">
      <p alt="">In the Drainage Area, water emerges from numerous small springs along the Edwards Plateau to create the baseflow for rivers that add recharge to the aquifer.  Strong thunderstorms fill the normally dry riverbeds of the Texas Hill Country.</p>
      <video class="plxbgvideo bgv-ck-slide3" poster="../images/caves_karsts/DrainageArea.jpg" preload="auto" autoplay loop muted volume="0">
        <source src="../videos/720p/DrainageArea.webm" type="video/webm">
        <source src="../videos/720p/DrainageArea.mp4" type="video/mp4">
      </video>
		</div>
	</div>

	<!-- Slide 4 -->
	<div data-parallax-background class="slide" id="ck-slide4" data-slide="4" data-parallax-ratio="0.5">
		<!-- <span class="slideno"><h1>Limestone</h1></span>                   -->
    <a class="button-scroll" data-slide="5" title="" data-ng-click="buttonClick($event)"></a>
    <div class="wrapper">
      <p alt="">As the rainwater mixes with organic compounds in the soil, it forms a diluted weak acid called carbonic acid.  Over millions of years this acid has dissolved out some of the calcite minerals that make up the Edwards Aquifer, leaving interconnected pores and cavities, and in some cases large cave systems.</p>
		</div>     
	</div>

	<!-- Slide 5 -->
	<div data-parallax-background class="slide" id="ck-slide5" data-slide="5" data-parallax-ratio="0.5">
	<!-- <span class="slideno"><h1>Sinkhole</h1></span> -->
    <a class="button-scroll" data-slide="6" title="" data-ng-click="buttonClick($event)"></a>
    <div class="wrapper">
      <p alt="">The pores created in the rock can range in size from microscopic to several feet in diameter—such as this 40ft wide sinkhole in Medina County, Texas.</p>
      <video class="plxbgvideo bgv-ck-slide5" poster="../images/caves_karsts/CaveEntrance.jpg" preload="auto" autoplay loop muted volume="0">
        <source src="../videos/720p/CaveEntrance.webm" type="video/webm">
        <source src="../videos/720p/CaveEntrance.mp4" type="video/mp4">
      </video>
    </div>   
	</div>

  <!-- Slide 6 -->
  <div data-parallax-background class="slide" id="ck-slide6" data-slide="6" data-parallax-ratio="0.5">
    <span class="slideno"><h1 class="text-black">Recharge Data Interactive</h1></span>            
    <a class="button-scroll" data-slide="7" title="" data-ng-click="buttonClick($event)"></a>
    <div class="wrapper interactive">
      <eaa-gauge-data-interactive-recharge></eaa-gauge-data-interactive-recharge>
      <div class="chart-subtext">Note: Any gaps in the data lines represent gaps in the collected data for that time period.</div>
    </div>  
  </div>

	<!-- Slide 7 -->
	<div data-parallax-background class="slide" id="ck-slide7" data-slide="7" data-parallax-ratio="0.5">
		<!-- <span class="slideno"><h1>Descent</h1></span>             -->
    <a class="button-scroll" data-slide="8" title="" data-ng-click="buttonClick($event)"></a>
    <div class="wrapper" id="descent">
      <p alt="">A caver descends more than 150 feet to the bottom of the sinkhole, following a similar path that rainfall and runoff would take.</p>
		</div>  
	</div>

	<!-- Slide 8 -->
	<div data-parallax-background class="slide" id="ck-slide8" data-slide="8" data-parallax-ratio="0.5">
		<!-- <span class="slideno"><h1>Watertable</h1></span>                 -->
    <a class="button-scroll reverse" id="" data-slide="0" title="" data-ng-click="buttonClick($event)"></a>
    <div class="wrapper">
      <p alt="">As the water percolates through the rocks it eventually reaches the water table, or point which the limestone is completely saturated.  From here the water moves deeper underground, flowing generally north and east towards discharge points at thousands of water wells, and some of the largest spring systems in Texas.</p>
		</div> 
	</div>

	<!-- Slide 9 -->
	<div data-parallax-background class="slide" id="ck-slide9" data-slide="9" data-parallax-ratio="0.5">
		<span class="slideno"><h1>End</h1></span>                  
    <div class="wrapper">
		</div> 
	</div>
</div>