<div class="container">
    <div class="contact">
        <h1>Contact EAA<br/><small>Stay informed about your aquifer</small></h1>
        <br/>
        <div class="contact">
            <p>
                <strong>Edwards Aquifer Authority</strong>
                <br/>
                <a class="custom-email" href="mailto:info@edwardsaquifer.org?Subject=Aquiferium%20Question" target="_blank">info@edwardsaquifer.org</a>
                <br/>Phone: (210) 222-2204 or 1-800-292-1047
                <br/>Fax: (210) 222-9869
                <br/>
                <em>
                    900 E. Quincy
                    <br/>
                    San Antonio, TX 78215
                    <br/>
                </em>
            </p>
        </div>
        <br/>
    </div>
</div>