<!-- Explore/Geography -->


<!-- Caves & Karsts/ Geology -->


<!-- Springs & Species -->

  <!-- Section 4 -->
  <!-- <div id="section04">
    <div skrollr class="div-fixed z-400" data-7999="top:8rem;" data-8000="opacity:0; left:-50rem;" data-9000="opacity:1; left:5rem;" data-10000="opacity:1; left:5rem;" data-11000="opacity:0; left:50rem;">
      <div class="text-frame">
        <p alt="">Heading north and east about 20 miles from Comal Springs, you’ll reach San Marcos Springs, the second largest spring system and Texas.</p>
      </div>
    </div>
    <div skrollr class="div-fixed z-100" data-7999="top:16rem;" data-8000="opacity:0; left:50rem;" data-9000="opacity:1; left:5rem;" data-10000="opacity:1; left:5rem;" data-11000="opacity:0; left:-50rem;">
      <div id="springs-image-02" class="image-frame"></div>
    </div>
    <div skrollr class="div-fixed z-450" data-7999="left:18rem;" data-8000="opacity:0; top:58rem;" data-9000="opacity:1; top:52rem;" data-10000="opacity:1; top:52rem;" data-11000="opacity:0; top:58rem;">
      <div class="text-label">
        <p>San Marcos Springs</p>
      </div>
    </div>
  </div> -->

  <!-- Section 7 -->
  <!-- <div id="section07">
    <div skrollr class="div-fixed z-400" data-19999="top:8rem;" data-20000="opacity:0; left:-50rem;" data-21000="opacity:1; left:5rem;" data-22000="opacity:1; left:5rem;" data-23000="opacity:0; left:50rem;">
      <div class="text-frame">
        <p alt="">All the Edwards Aquifer Endangered and Threatened species – including Texas Wild Rice seen here – depend on clean fresh water from the aquifer.</p>
      </div>
    </div>
    <div skrollr class="div-fixed z-100" data-19999="top:16rem;" data-20000="opacity:0; left:50rem;" data-21000="opacity:1; left:5rem;" data-22000="opacity:1; left:5rem;" data-23000="opacity:0; left:-50rem;">
      <div id="springs-image-04" class="image-frame"></div>
    </div>
    <div skrollr class="div-fixed z-450" data-19999="left:18rem;" data-20000="opacity:0; top:58rem;" data-21000="opacity:1; top:52rem;" data-22000="opacity:1; top:52rem;" data-23000="opacity:0; top:58rem;">
      <div class="text-label">
        <p>Endangered Species</p>
      </div>
    </div>
  </div> -->

  <!-- Section 8 -->
  <!-- <div id="section08">
    <div skrollr class="div-fixed z-400" data-22999="top:8rem;" data-23000="opacity:0; left:-50rem;" data-24000="opacity:1; left:5rem;" data-25000="opacity:1; left:5rem;" data-26000="opacity:0; left:50rem;">
      <div class="text-frame">
        <p alt="">In addition to water quality concerns, exotic invasive species like these elephant ear plants also threaten the habitat of the native species, by competing for food and altering the original riparian areas.</p>
      </div>
    </div>
    <div skrollr class="div-fixed z-100" data-22999="top:16rem;" data-23000="opacity:0; left:50rem;" data-24000="opacity:1; left:5rem;" data-25000="opacity:1; left:5rem;" data-26000="opacity:0; left:-50rem;">
      <div id="springs-image-05" class="image-frame"></div>
    </div>
    <div skrollr class="div-fixed z-450" data-22999="left:18rem;" data-23000="opacity:0; top:58rem;" data-24000="opacity:1; top:52rem;" data-25000="opacity:1; top:52rem;" data-26000="opacity:0; top:58rem;">
      <div class="text-label">
        <p>Invasive Species</p>
      </div>
    </div>
  </div> -->



<!-- Conservation & Governance -->
  
  <!-- Section 8 -->
  <!-- <div id="section08">
    <div skrollr class="div-fixed z-400" data-25999="top:8rem;" data-26000="opacity:0; left:-50rem;" data-27000="opacity:1; left:5rem;">
      <div class="text-frame">
        <p alt="">To protect the endangered species long term the EAA, its regional partners, and stakeholders have implemented a comprehensive <a class="nav-link-hcp" href="{{urlHcp}}" title="Habitat Conservation Plan" target="_blank" ng-click="linkModelFunc(urlHcp)">Habitat Conservation Plan</a> to protect spring flow, water quality, and riparian habitat.</p>
       </div>
    </div>
    <div skrollr class="div-fixed z-100" data-25999="top:16rem;" data-26000="opacity:0; left:50rem;" data-27000="opacity:1; left:5rem;">
      <div id="springs-image-06" class="image-frame"></div>
    </div>
    <div skrollr class="div-fixed z-450" data-25999="left:18rem;" data-26000="opacity:0; top:58rem;" data-27000="opacity:1; top:52rem;">
      <div class="text-label">
        <p>Habitat Conservation</p>
      </div>
    </div>
  </div> -->

  <!-- Explore Link -->
  <!-- <div id="end">
    <div skrollr class="div-fixed z-500" data-27499="left:9rem;" data-27500="opacity:0; top:58rem;" data-28000="opacity:1; top:54rem;">
      <div class="end-link">
        <a href="#/springs">Continue Exploring
          <div id="holder">
            <div class="dot"></div>
            <div class="pulse"></div>      
          </div>
        </a>
      </div>
    </div>
  </div> -->


<!-- Maps & Data -->


<!-- About -->


<!-- Contact -->

