<div class="caveskarsts">
  <!-- Progress Indicator -->
  <!-- <div skrollr class="progress-hor z-450 centered">
    <div>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-0="fill:rgba(113,178,201,1);" data-1000="fill:rgba(113,178,201,1);" data-2000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-2000="fill:rgba(66,89,104,1);" data-3000="fill:rgba(113,178,201,1);" data-4000="fill:rgba(113,178,201,1);" data-5000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-5000="fill:rgba(66,89,104,1);" data-6000="fill:rgba(113,178,201,1);" data-7000="fill:rgba(113,178,201,1);" data-8000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-8000="fill:rgba(66,89,104,1);" data-9000="fill:rgba(113,178,201,1);" data-10000="fill:rgba(113,178,201,1);" data-11000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-11000="fill:rgba(66,89,104,1);" data-12000="fill:rgba(113,178,201,1);" data-13000="fill:rgba(113,178,201,1);" data-14000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-14000="fill:rgba(66,89,104,1);" data-15000="fill:rgba(113,178,201,1);" data-16000="fill:rgba(113,178,201,1);" data-17000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-17000="fill:rgba(66,89,104,1);" data-18000="fill:rgba(113,178,201,1);" data-19000="fill:rgba(113,178,201,1);" data-20000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-20000="fill:rgba(66,89,104,1);" data-21000="fill:rgba(113,178,201,1);" data-25000="fill:rgba(113,178,201,1);" data-26000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-26000="fill:rgba(66,89,104,1);" data-27000="fill:rgba(113,178,201,1);"></circle></svg>
    </div>
  </div> -->

  <!-- Backgrounds -->
  <!-- <div skrollr id="wall-1" class="div-fixed z-50 background flip-image-hor" data-0="opacity:0.2; top:0%;" data-1000="opacity:0.6; top:4%;" data-27500="opacity:0.6; top:-100%;" data-28000="opacity:0.1;"></div> -->
  <!--  -->

  <!-- Scroll Indicator -->
  <!-- <div skrollr class="div-fixed z-500" data-0="top:54rem;" data-1000="opacity:1; left:9rem;" data-2000="opacity:0; left:-10rem;"> -->
  <!-- <div>
    <div class="text-suggestion">Scroll to continue...
      <div id="holder">
        <div class="dot"></div>
        <div class="pulse"></div>      
      </div>
    </div>
  </div> -->

  <div><span style="padding:10rem; height:10rem;"></span></div>

  <!-- Section 0 -->
  <div id="section00">
    <div>
    <!-- <div skrollr class="div-fixed z-400" > -->
    <!-- data-0="top:8rem;" data-1000="opacity:1; left:5rem;" data-2000="opacity:0; left:50rem;" -->
      <div class="text-frame">
        <p alt="">The Edwards Aquifer — one of the most prolific karst aquifers in the United States — is located right here in south central Texas.  Explore and discover the features that make this aquifer one of the most porous and permeable aquifers around.</p>
      </div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-100"> -->
    <!-- data-999="top:16rem;" data-1000="opacity:1; left:5rem;" data-2000="opacity:0; left:-50rem;" -->
      <div id="ck-image-00" class="image-frame"></div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-450"> -->
    <!-- data-0="left:18rem;" data-1000="opacity:1; top:52rem;" data-2000="opacity:0; top:58rem;" -->
      <div class="text-label">
        <p>Seco Sinkhole</p>
      </div>
    </div>
  </div>

  <!-- Section 1 -->
  <div id="section01">
    <div>
    <!-- <div skrollr class="div-fixed z-400"> -->
    <!-- data-1999="top:8rem;" data-2000="opacity:0; left:-50rem;" data-3000="opacity:1; left:5rem;" data-4000="opacity:1; left:5rem;" data-5000="opacity:0; left:50rem;" -->
      <div class="text-frame">
        <p alt="">For millions of years, water has transformed the landscape of the Balcones Fault Zone in South Central Texas, creating the Edwards Aquifer and the hundreds of caves and karst features within the limestone.</p>   
      </div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-100"> -->
    <!-- data-1999="top:16rem;" data-2000="opacity:0; left:50rem;" data-3000="opacity:1; left:5rem;" data-4000="opacity:1; left:5rem;" data-5000="opacity:0; left:-50rem;" -->
      <video class="video-frame" preload="auto" autoplay loop muted>
        <source src="../videos/720p/SecoSinkhole.webm" type="video/webm">
        <source src="../videos/720p/SecoSinkhole.mp4" type="video/mp4">
      </video>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-450"> -->
    <!-- data-1999="left:18rem;" data-2000="opacity:0; top:58rem;" data-3000="opacity:1; top:52rem;" data-4000="opacity:1; top:52rem;" data-5000="opacity:0; top:58rem;" -->
      <div class="text-label">
        <p>Water Runoff</p>
      </div>
    </div>
  </div>

  <!-- Section 2 -->
  <div id="section02">
    <div>
    <!-- <div skrollr class="div-fixed z-400"> -->
    <!-- data-4999="top:7.5rem;" data-5000="opacity:0; left:-50rem;" data-6000="opacity:1; left:5rem;" data-7000="opacity:1; left:5rem;" data-8000="opacity:0; left:50rem;" -->
      <div class="text-frame">
        <!-- <p alt="">Beginning along the Southern edge of the Edwards Plateau, the 5,400 square mile Drainage Area funnels water into streams and creeks that flow south toward the Recharge Zone—the outcrop of the Edwards Limestone.<br><span class="address-lookup"><span class="glyphicon glyphicon-search glyph-spacing-right address-lookup-color"></span>Learn which aquifer sustains your area today.<a class="nav-link-address-lookup" href="{{urlAddressLookup}}" title="Aquifer Address Lookup" target="_blank" ng-click="linkModelFunc(urlAddressLookup)">Look up your address online here!</a></span></p> -->
        <p alt="">The Edwards Aquifer began forming over 100 million years ago, while south Texas was covered by a warm shallow ocean. The remains of organisms accumulated in layers, later forming the limestone as the seas regressed.  During the Cretaceous Period, dinosaurs roamed the landscape and natural forces went to work, carving the landscape and forming the aquifer we know today.</p>
      </div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-100"> -->
    <!-- data-4999="top:16rem;" data-5000="opacity:0; left:50rem;" data-6000="opacity:1; left:5rem;" data-7000="opacity:1; left:5rem;" data-8000="opacity:0; left:-50rem;" -->
      <!-- <div id="ck-image-01" class="image-frame"></div> -->
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-450"> -->
    <!-- data-4999="left:18rem;" data-5000="opacity:0; top:58rem;" data-6000="opacity:1; top:52rem;" data-7000="opacity:1; top:52rem;" data-8000="opacity:0; top:58rem;" -->
      <div class="text-label">
        <p>Geologic History of the Aquifer</p>
      </div>
    </div>
  </div>

  <!-- Section 3 -->
  <div id="section03">
    <div>
    <!-- <div skrollr class="div-fixed z-400"> -->
    <!-- data-7999="top:8rem;" data-8000="opacity:0; left:-50rem;" data-9000="opacity:1; left:5rem;" data-10000="opacity:1; left:5rem;" data-11000="opacity:0; left:50rem;" -->
      <div class="text-frame">
        <p alt="">In the Drainage Area, water emerges from numerous small springs along the Edwards Plateau to create the baseflow for rivers that add recharge to the aquifer.  Strong thunderstorms fill the normally dry riverbeds of the Texas Hill Country.</p>
      </div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-100"> -->
    <!-- data-7999="top:16rem;" data-8000="opacity:0; left:50rem;" data-9000="opacity:1; left:5rem;" data-10000="opacity:1; left:5rem;" data-11000="opacity:0; left:-50rem;" -->
      <video class="video-frame" preload="auto" autoplay loop muted>
        <source src="../videos/720p/DrainageArea.webm" type="video/webm">
        <source src="../videos/720p/DrainageArea.mp4" type="video/mp4">
      </video>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-450"> -->
    <!-- data-7999="left:18rem;" data-8000="opacity:0; top:58rem;" data-9000="opacity:1; top:52rem;" data-10000="opacity:1; top:52rem;" data-11000="opacity:0; top:58rem;" -->
      <div class="text-label">
        <p>Drainage</p>
      </div>
    </div>
  </div>

  <!-- Section 4 -->
  <div id="section04">
    <div>
    <!-- <div skrollr class="div-fixed z-400"> -->
    <!-- data-10999="top:7.5rem;" data-11000="opacity:0; left:-50rem;" data-12000="opacity:1; left:5rem;" data-13000="opacity:1; left:5rem;" data-14000="opacity:0; left:50rem;" -->
      <div class="text-frame">
        <p alt="">As the rainwater mixes with organic compounds in the soil, it forms a diluted weak acid called carbonic acid.  Over millions of years this acid has dissolved out some of the calcite minerals that make up the Edwards Aquifer, leaving interconnected pores and cavities, and in some cases large cave systems.</p>
      </div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-100"> -->
    <!-- data-10999="top:16rem;" data-11000="opacity:0; left:50rem;" data-12000="opacity:1; left:5rem;" data-13000="opacity:1; left:5rem;" data-14000="opacity:0; left:-50rem;" -->
      <div id="ck-image-02" class="image-frame"></div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-450"> -->
    <!-- data-10999="left:18rem;" data-11000="opacity:0; top:58rem;" data-12000="opacity:1; top:52rem;" data-13000="opacity:1; top:52rem;" data-14000="opacity:0; top:58rem;" -->
      <div class="text-label">
        <p>Limestone</p>
      </div>
    </div>
  </div>

  <!-- Section 5 -->
  <div id="section05">
    <div>
    <!-- <div skrollr class="div-fixed z-400"> -->
    <!-- data-13999="top:8rem;" data-14000="opacity:0; left:-50rem;" data-15000="opacity:1; left:5rem;" data-16000="opacity:1; left:5rem;" data-17000="opacity:0; left:50rem;" -->
      <div class="text-frame">
        <p alt="">The pores created in the rock can range in size from microscopic to several feet in diameter—such as this 40ft wide sinkhole in Medina County, Texas.</p>
      </div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-100"> -->
    <!-- data-13999="top:16rem;" data-14000="opacity:0; left:50rem;" data-15000="opacity:1; left:5rem;" data-16000="opacity:1; left:5rem;" data-17000="opacity:0; left:-50rem;" -->
      <video class="video-frame" preload="auto" autoplay loop muted>
        <source src="../videos/720p/CaveEntrance.webm" type="video/webm">
        <source src="../videos/720p/CaveEntrance.mp4" type="video/mp4">
      </video>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-450"> -->
    <!-- data-13999="left:18rem;" data-14000="opacity:0; top:58rem;" data-15000="opacity:1; top:52rem;" data-16000="opacity:1; top:52rem;" data-17000="opacity:0; top:58rem;" -->
      <div class="text-label">
        <p>Sinkhole</p>
      </div>
    </div>
  </div>

  <!-- Section 6 -->
  <div id="section06">
    <div>
    <!-- <div skrollr class="div-fixed z-400"> -->
    <!-- data-16999="top:8rem;" data-17000="opacity:0; left:-50rem;" data-18000="opacity:1; left:5rem;" data-19000="opacity:1; left:5rem;" data-20000="opacity:0; left:50rem;" -->
      <div class="text-frame">
        <p alt="">Historical data representing the rate of recharge within the aquifer for each year measured in thousands of acre feet.<br/>The middle segment of the aquifer represents the recharge zone. The bluer the color, the more water is being added.</p>
      </div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-500"> -->
    <!-- data-16999="top:16rem;" data-17000="opacity:0; left:50rem;" data-18000="opacity:1; left:5rem;" data-19000="opacity:1; left:5rem;" data-20000="opacity:0; left:-50rem;" -->
      <div id="interactive" class="interactive interactive-frame">
        <eaa-gauge-data-interactive-recharge></eaa-gauge-data-interactive-recharge>
      </div> 
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-450"> -->
    <!-- data-16999="left:18rem;" data-17000="opacity:0; top:58rem;" data-18000="opacity:1; top:52rem;" data-19000="opacity:1; top:52rem;" data-20000="opacity:0; top:58rem;" -->
      <div class="text-label">
        <p>Recharge Data</p>
      </div>
    </div>
  </div>

  <!-- Section 7 -->
  <div id="section07">
    <div>
    <!-- <div skrollr class="div-fixed z-400"> -->
    <!-- data-19999="top:8rem;" data-20000="opacity:0; left:-50rem;" data-21000="opacity:1; left:5rem;" data-22000="opacity:1; left:5rem;" data-23000="opacity:0; left:50rem;" -->
      <div class="text-frame">
        <p alt="">A caver descends more than 150 feet to the bottom of the sinkhole, following a similar path that rainfall and runoff would take.</p>
      </div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-100"> -->
    <!-- data-19999="top:16rem;" data-20000="opacity:0; left:50rem;" data-21000="opacity:1; left:5rem;" data-22000="top:16rem;" data-24999="top:-40rem;" data-25000="opacity:1; top:-40rem;" data-26000="opacity:0; top:-60rem;" -->
      <div id="ck-image-03" class="image-frame-tall"></div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-500"> -->
    <!-- data-19999="left:18rem;" data-20000="opacity:0; top:58rem;" data-21000="opacity:1; top:52rem;" data-24500="opacity:1; top:52rem;" data-26000="opacity:0; top:58rem;" -->
      <div class="text-label">
        <p>Descent</p>
      </div>
    </div>
  </div> 

  <!-- Section 8 -->
  <div id="section08">
    <div>
    <!-- <div skrollr class="div-fixed z-400"> -->
    <!-- data-25999="top:7.5rem;" data-26000="opacity:0; left:-50rem;" data-27000="opacity:1; left:5rem;" -->
      <div class="text-frame">
        <p alt="">As the water percolates through the rocks it eventually reaches the water table, or point which the limestone is completely saturated.  From here the water moves deeper underground, flowing generally north and east towards discharge points at thousands of water wells, and some of the largest spring systems in Texas.</p>
      </div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-100"> -->
    <!-- data-25999="top:16rem;" data-26000="opacity:0; left:50rem;" data-27000="opacity:1; left:5rem;" -->
      <div id="ck-image-04" class="image-frame"></div>
    </div>
    <div>
    <!-- <div skrollr class="div-fixed z-450"> -->
    <!-- data-25999="left:18rem;" data-26000="opacity:0; top:58rem;" data-27000="opacity:1; top:52rem;" -->
      <div class="text-label">
        <p>Watertable</p>
      </div>
    </div>
  </div>

  <!-- Explore Link -->
  <div id="end">
    <div>
    <!-- <div skrollr class="div-fixed z-500"> -->
    <!-- data-27499="left:9rem;" data-27500="opacity:0; top:58rem;" data-28000="opacity:1; top:54rem;" -->
      <div class="end-link">
        <a href="#/springs">Continue Exploring
          <div id="holder">
            <div class="dot"></div>
            <div class="pulse"></div>      
          </div>
        </a>
      </div>
    </div>
  </div>
</div>