<div class="geology">
  <!-- Progress Indicator -->
  <!-- <div skrollr class="progress-hor z-450 centered">
    <div>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-0="fill:rgba(113,178,201,1);" data-1000="fill:rgba(113,178,201,1);" data-2000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-2000="fill:rgba(66,89,104,1);" data-3000="fill:rgba(113,178,201,1);" data-4000="fill:rgba(113,178,201,1);" data-5000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-5000="fill:rgba(66,89,104,1);" data-6000="fill:rgba(113,178,201,1);" data-7000="fill:rgba(113,178,201,1);" data-8000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-8000="fill:rgba(66,89,104,1);" data-9000="fill:rgba(113,178,201,1);" data-10000="fill:rgba(113,178,201,1);" data-11000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-11000="fill:rgba(66,89,104,1);" data-12000="fill:rgba(113,178,201,1);" data-13000="fill:rgba(113,178,201,1);" data-14000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-14000="fill:rgba(66,89,104,1);" data-15000="fill:rgba(113,178,201,1);" data-16000="fill:rgba(113,178,201,1);" data-17000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-17000="fill:rgba(66,89,104,1);" data-18000="fill:rgba(113,178,201,1);" data-19000="fill:rgba(113,178,201,1);" data-20000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-20000="fill:rgba(66,89,104,1);" data-21000="fill:rgba(113,178,201,1);" data-25000="fill:rgba(113,178,201,1);" data-26000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-26000="fill:rgba(66,89,104,1);" data-27000="fill:rgba(113,178,201,1);"></circle></svg>
    </div>
  </div> -->

  <!-- Backgrounds -->
  <!-- <div skrollr id="wall-1" class="div-fixed z-50 background flip-image-hor" data-0="opacity:0.2; top:0%;" data-1000="opacity:0.6; top:4%;" data-27500="opacity:0.6; top:-100%;" data-28000="opacity:0.1;"></div> -->
  <!--  -->

  <!-- Scroll Indicator -->
  <!-- <div skrollr class="div-fixed z-500" data-0="top:54rem;" data-1000="opacity:1; left:9rem;" data-2000="opacity:0; left:-10rem;"> -->
  <!-- <div>
    <div class="text-suggestion">Scroll to continue...
      <div id="holder">
        <div class="dot"></div>
        <div class="pulse"></div>      
      </div>
    </div>
  </div> -->


  <!-- Section 0 -->
  <div id="section00">
    <div skrollr class="div-fixed z-400" data-0="top:8rem;" data-1000="opacity:1; left:5rem;" data-2000="opacity:0; left:50rem;"
      <div class="text-frame">
        <p alt="">The Edwards Aquifer — one of the most prolific karst aquifers in the United States — is located right here in south central Texas.  Explore and discover the features that make this aquifer one of the most porous and permeable aquifers around.</p>
      </div>
    </div>
    <div skrollr class="div-fixed z-100" data-999="top:16rem;" data-1000="opacity:1; left:5rem;" data-2000="opacity:0; left:-50rem;"
      <div id="ck-image-00" class="image-frame"></div>
    </div>
    <div skrollr class="div-fixed z-450" data-0="left:18rem;" data-1000="opacity:1; top:52rem;" data-2000="opacity:0; top:58rem;"
      <div class="text-label">
        <p>Seco Sinkhole</p>
      </div>
    </div>
  </div>

  <!-- Section 1 -->
  <div id="section01">
    <div skrollr class="div-fixed z-400" data-1999="top:8rem;" data-2000="opacity:0; left:-50rem;" data-3000="opacity:1; left:5rem;" data-4000="opacity:1; left:5rem;" data-5000="opacity:0; left:50rem;"
      <div class="text-frame">
        <p alt="">For millions of years, water has transformed the landscape of the Balcones Fault Zone in South Central Texas, creating the Edwards Aquifer and the hundreds of caves and karst features within the limestone.</p>   
      </div>
    </div>
    <div skrollr class="div-fixed z-100" data-1999="top:16rem;" data-2000="opacity:0; left:50rem;" data-3000="opacity:1; left:5rem;" data-4000="opacity:1; left:5rem;" data-5000="opacity:0; left:-50rem;"
      <video class="video-frame" preload="auto" autoplay loop muted>
        <source src="../videos/720p/SecoSinkhole.webm" type="video/webm">
        <source src="../videos/720p/SecoSinkhole.mp4" type="video/mp4">
      </video>
    </div>
    <div skrollr class="div-fixed z-450" data-1999="left:18rem;" data-2000="opacity:0; top:58rem;" data-3000="opacity:1; top:52rem;" data-4000="opacity:1; top:52rem;" data-5000="opacity:0; top:58rem;"
      <div class="text-label">
        <p>Water Runoff</p>
      </div>
    </div>
  </div>



  <!-- Section 0 -->
  <!-- <div id="section00">
    <div skrollr class="z-400" data-0="top:8rem;" data-1000="opacity:1; left:5rem;" data-2000="opacity:0; left:50rem;">
      <div class="text-frame">
        <p alt="">The Edwards Aquifer — one of the most prolific karst aquifers in the United States — is located right here in south central Texas.  Explore and discover the features that make this aquifer one of the most porous and permeable aquifers around.</p>
      </div>
    </div>

    <div skrollr class="z-100" data-999="top:16rem;" data-1000="opacity:1; left:5rem;" data-2000="opacity:0; left:-50rem;">
      <div id="ck-image-00" class="image-frame"></div>
    </div>

    <div skrollr class="z-450" data-0="left:18rem;" data-1000="opacity:1; top:52rem;" data-2000="opacity:0; top:58rem;">
      <div class="text-label">
        <p>Seco Sinkhole</p>
      </div>
    </div>
  </div> -->

  <!-- <div>
    <div skrollr class="text-frame" data-0="left:0;" data-325="left:250px;" data-750="left:500px;">
      <p alt="">The Edwards Aquifer — one of the most prolific karst aquifers in the United States — is located right here in south central Texas.  Explore and discover the features that make this aquifer one of the most porous and permeable aquifers around.</p>
    </div>
    <div skrollr class="text-frame" data-0="left:0;" data-325="left:250px;" data-750="left:500px;">
      <p alt="">The Edwards Aquifer — one of the most prolific karst aquifers in the United States — is located right here in south central Texas.  Explore and discover the features that make this aquifer one of the most porous and permeable aquifers around.</p>
    </div>
    <div skrollr class="text-frame" data-0="left:0;" data-325="left:250px;" data-750="left:500px;">
      <p alt="">The Edwards Aquifer — one of the most prolific karst aquifers in the United States — is located right here in south central Texas.  Explore and discover the features that make this aquifer one of the most porous and permeable aquifers around.</p>
    </div>
    <div skrollr class="text-frame" data-0="left:0;" data-325="left:250px;" data-750="left:500px;">
      <p alt="">The Edwards Aquifer — one of the most prolific karst aquifers in the United States — is located right here in south central Texas.  Explore and discover the features that make this aquifer one of the most porous and permeable aquifers around.</p>
    </div>
    <div skrollr class="text-frame" data-0="left:0;" data-325="left:250px;" data-750="left:500px;">
      <p alt="">The Edwards Aquifer — one of the most prolific karst aquifers in the United States — is located right here in south central Texas.  Explore and discover the features that make this aquifer one of the most porous and permeable aquifers around.</p>
    </div>
    <div skrollr class="text-frame" data-0="left:0;" data-325="left:250px;" data-750="left:500px;">
      <p alt="">The Edwards Aquifer — one of the most prolific karst aquifers in the United States — is located right here in south central Texas.  Explore and discover the features that make this aquifer one of the most porous and permeable aquifers around.</p>
    </div>
  </div> -->


</div>