<div class="springs">
  <!-- Progress Indicator -->
  <div skrollr class="progress-hor z-400 centered">
    <div>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-0="fill:rgba(113,178,201,1);" data-1000="fill:rgba(113,178,201,1);" data-2000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-2000="fill:rgba(66,89,104,1);" data-3000="fill:rgba(113,178,201,1);" data-4000="fill:rgba(113,178,201,1);" data-5000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-5000="fill:rgba(66,89,104,1);" data-6000="fill:rgba(113,178,201,1);" data-7000="fill:rgba(113,178,201,1);" data-8000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-8000="fill:rgba(66,89,104,1);" data-9000="fill:rgba(113,178,201,1);" data-10000="fill:rgba(113,178,201,1);" data-11000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-11000="fill:rgba(66,89,104,1);" data-12000="fill:rgba(113,178,201,1);" data-13000="fill:rgba(113,178,201,1);" data-14000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-14000="fill:rgba(66,89,104,1);" data-15000="fill:rgba(113,178,201,1);" data-16000="fill:rgba(113,178,201,1);" data-17000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-17000="fill:rgba(66,89,104,1);" data-18000="fill:rgba(113,178,201,1);" data-19000="fill:rgba(113,178,201,1);" data-20000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-20000="fill:rgba(66,89,104,1);" data-21000="fill:rgba(113,178,201,1);" data-25000="fill:rgba(113,178,201,1);" data-26000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-26000="fill:rgba(66,89,104,1);" data-27000="fill:rgba(113,178,201,1);" data-28000="fill:rgba(113,178,201,1);" data-29000="fill:rgba(66,89,104,1);"></circle></svg>
      <svg class="progress-circle-container"><circle skrollr cx="0.5em" cy="0.5em" r="0.5em" data-29000="fill:rgba(66,89,104,1);" data-30000="fill:rgba(113,178,201,1);"></circle></svg>
    </div>
  </div>

  <!-- Backgrounds -->
  <div skrollr id="waterway-2" class="div-fixed z-100 background flip-image-hor" data-0="opacity:0.1; top:0%;" data-1000="opacity:0.2; top:-4%;" data-30000="opacity:0.2; top:-100%;" data-31000="opacity:0.05;"></div>

  <!-- Section 0 -->

  <!-- Section 1 -->

  <!-- Section 2 -->

  <!-- Section 3 -->

  <!-- Section 4 -->

  <!-- Section 5 -->

  <!-- Section 6 -->

  <!-- Section 7 -->

  <!-- Section 8 -->

  <!-- Section 9 -->

  <!-- Explore Link -->
  <div id="end">
    <div skrollr class="div-fixed z-200" data-30499="left:9rem;" data-30500="opacity:0; top:58rem;" data-31000="opacity:1; top:53.5rem;">
      <div class="end-link">
        <a href="#/about">Continue Exploring
          <div id="holder">
            <div class="dot"></div>
            <div class="pulse"></div>      
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
