<div class="springs">
    <h1>How Do Aquifers Recharge&#63;
        <br/>
        <small>The replenishing of aquifers</small>
    </h1>
    <div class="centered">
    	<!-- <donut-chart></donut-chart>
    	<donut-chart></donut-chart>
    	<donut-chart></donut-chart> -->
        <d3-geojson class="d3map" data-geo="dataSource01"></d3-geojson>
    </div>

    <!-- Testing directives -->
    <!-- 
    <hr>
    <test-directive-a data-info="naomi"></test-directive-a>
    <hr>
    <test-directive-b data-info="igor"></test-directive-b>
    <hr>
    <tell-time></tell-time> 
    -->

</div>
